<h1>Welcome to the admin page</h1>

<p>Waiting submissions:</p>

{{#each servicemembers}}
{{#unless approved}}
    <div class="card">
        <img src="" alt="">
        <div class="card-section">
            <h2>{{this.dataValues.first_name}} {{this.dataValues.last_name}} - {{this.dataValues.age}}</h2>
            <p>{{this.dataValues.date_of_birth}} - {{this.dataValues.date_of_death}}</p>
            <p>{{this.dataValues.branch_of_service}}</p>
            <p>Unit: {{this.dataValues.unit}}</p>
            <p>Awards and Recognitions: {{this.dataValues.awards}}</p>
            <p>Summary of Service: {{this.dataValues.summary_of_service}}</p>

            <button id="approve">Approve this entry</button>
            <button id="delete">Delete this entry</button>
        </div>
    </div>
{{/unless}}
{{/each}} 