<div class="wrapper">

    <div class="container">
        <header class="subnav-hero-section">
            <a href><h1 class="title">Remember Them<img src="/css/logo.png" alt="Remember Them Logo" height="50" width="101"></a>
            </h1>
        </header>
    </div>

    <div class="container" id="menu-bar">
        <div>
            <ul class="menu menu-hover-lines">
                <li><a href="/">Home</a></li>
                <li><a href="/SEALs">Fallen Service Members</a></li>
                <li><a href="/creed">Creeds</a></li>
            </ul>
        </div>
    </div>

    <br>

    {{! Home page with navigation links to other areas of the website }}
    <div class="container" id="main-grid">
        <div class="grid-x">
            <div class="cell small-3" id="aside">
                <div class="flex-container flex-dir-column" id="aside-items">

                    {{!-- <div class="search-div">
                        <ul class="menu">
                            <li><input type="search" placeholder="Search" id="search-window"></li>
                            <li><button type="button" class="button" id="search-button">Submit</button></li>
                        </ul>
                    </div> --}}

                    <ul class="aside-list">
                        <li class="li"><a href="/api/servicemembers">Add a hero</a></li>
                    </ul>
                </div>
            </div>
            <div class="cell small-9">
                <div id="sanity">
                    {{!-- swiper lives below --}}

                    <div class="swiper-wrapper">
                        <div class="flex-container-index" id="photo">
                            
                            <div class="card">
                                <img src="{{servicemembers.dataValues.image}}" alt="Photo of {{servicemembers.dataValues.first_name}} {{servicemembers.dataValues.last_name}}">
                                <div class="card-section">
                                    <h2>{{servicemembers.dataValues.first_name}} {{servicemembers.dataValues.last_name}} - {{servicemembers.dataValues.age}}</h2>
                                    <p>{{servicemembers.dataValues.date_of_birth}} - {{servicemembers.dataValues.date_of_death}}</p>
                                    <p>{{servicemembers.dataValues.branch_of_service}}</p>
                                    <p><strong>Unit:</strong> {{servicemembers.dataValues.unit}}</p>
                                    <p><strong>Awards and Recognitions:</strong> {{servicemembers.dataValues.awards}}</p>
                                    <p><strong>Summary of Service:</strong> {{servicemembers.dataValues.summary_of_service}}</p>
                                </div>
                            </div>
                            
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <footer>
        <div class="container" id="footer-bar">
            <div>
                <ul class="menu menu-hover-lines">
                    <li><a href="/links">Links</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <blockquote id="quote">"To us, and those like us, damn few."</blockquote>
    </footer>
</div>