<div class="wrapper">

    <h1>The Fallen</h1>

    {{! View all of the SEALs that currently exist in the database }}
    <div class="flex-container" id="photo">
        {{#each servicemembers}}
        <div class="card">
            <img src="{{this.dataValues.image}}" alt="Photo of {{this.dataValues.first_name}} {{this.dataValues.last_name}}">
            <div class="card-section">
                <h2>{{this.dataValues.first_name}} {{this.dataValues.last_name}} - {{this.dataValues.age}}</h2>
                <p>{{this.dataValues.date_of_birth}} - {{this.dataValues.date_of_death}}</p>
                <p>{{this.dataValues.branch_of_service}}</p>
                <p><strong>Unit:</strong> {{this.dataValues.unit}}</p>
                <p><strong>Awards and Recognitions:</strong> {{this.dataValues.awards}}</p>
                <p><strong>Summary of Service:</strong> {{this.dataValues.summary_of_service}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    


    <footer>

        <div class="container" id="menu-bar">    
            <div>
                <ul class="menu menu-hover-lines">
                    <li><a href="/">Home</a></li>
                    <li><a href="/SEALs">Fallen Service Members</a></li>
                    <li><a href="#">Quotes</a></li>
                    <li><a href="#">Links</a></li>
                    <li><a href="/creed">Creeds</a></li>
                    <li><a href="/about">Contact Us</a></li>
                </ul>
            </div>
        </div>

            <blockquote id="quote">"To us, and those like us, damn few."</blockquote>
    </footer>
</div>