<h1>The Fallen</h1>

{{! View all of the SEALs that currently exist in the database }}

{{#each servicemembers}}
<div class="card">
    <img src="" alt="">
    <div class="card-section">
        <h2>{{this.first_name}} {{this.last_name}} - {{this.age}}</h2>
        <p>{{this.date_of_birth}} - {{this.date_of_death}}</p>
        <p>{{this.branch_of_service}}</p>
        <p>Unit: {{this.unit}}</p>
        <p>Awards and Recognitions: {{this.awards}}</p>
        <p>Summary of Service: {{this.summary_of_service}}</p>
    </div>
</div>
{{/each}}


<footer>

    <div class="container" id="menu-bar">    
        <div>
            <ul class="menu menu-hover-lines">
                <li><a href="/">Home</a></li>
                <li><a href="/SEALs">Fallen Service Members</a></li>
                <li><a href="#">Quotes</a></li>
                <li><a href="#">Links</a></li>
                <li><a href="/creed">Creeds</a></li>
                <li><a href="/about">Contact Us</a></li>
            </ul>
        </div>
    </div>

        <blockquote id="quote">"To us, and those like us, damn few."</blockquote>
</footer>